<%- include ("../../views/_header") %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>

        <form action="/s611998023/delete/<%= data.id %>" method="POST">

            <div class="form-group">
                <h3><font color=#0000>Name = <%= data.a611998023%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>Number = <%= data.c611998023%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>True/False = <%= data.c611998023%></font></h3>
            </div>

            <div class="form-group">
                <h3><font color=#0000>Date = <%= data.d611998023.toISOString().split('T')[0] %></font></h3>
            </div>

            <a href="/s611998023" class="btn btn-primary"> กลับ </a>
            <a href="/s611998023/deleteNow/<%= data.id%>" class="btn btn-danger"> ลบ </a>
            </form>
    </div>
</div>

<%- include ("../../views/_footer") %>