<%- include ("../../views/_header") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <% if (data) { %> 
                        <form action="/s611998023/update/<%= data.id %>" method="POST">

                        <div class="form-group">
                        Name <input type="text" 
                        name="a611998023" 
                        value="<%= data.a611998023 %>" 
                        class="form-control">
                        </div>

                        <div class="form-group">
                        Number <input type="text" 
                        name="b611998023" 
                        value="<%= data.b611998023 %>" 
                        class="form-control">
                        </div>

                        <div class="form-group">
                        True/False<input type="text" 
                        name="c611998023" 
                        value="<%= data.c611998023 %>" 
                        class="form-control">
                        </div>

                        <div class="form-group">
                        Date   <input type="text" 
                        name="d611998023" 
                        value="<%=new Date(data.d611998023).toISOString().split('T')[0]%>"
                        class="form-control">
                        </div>
                        
                        <a href="/s611998023" class="btn btn-primary"> กลับ </a>
                        <button type="submit" 
                        class="btn btn-success">submit</button>
                        </form>

                    <% } else { %>

                        <form action="/s611998023/add" method="POST">
        
                        <div class="form-group">
                        Name <input type="text" 
                        name="a611998023" 
                        placeholder="Name" 
                        class="form-control">
                        </div>
        
                        <div class="form-group">
                        Number <input type="text" 
                        name="b611998023" 
                        placeholder="Number" 
                        class="form-control">
                        </div>
        
                        <div class="form-group">
                        True/False <input type="text" 
                        name="c611998023" 
                        placeholder="True/False" 
                        class="form-control">
                        </div>

                        <div class="form-group">
                        Date <input type="date" 
                        name="d611998023" 
                        placeholder="Date : year / month / day" 
                        class="form-control">
                        </div>

                        <a href="/s611998023" class="btn btn-primary"> กลับ </a>
                        <button type="submit" 
                        class="btn btn-success">submit</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
</div>
<%- include ("../../views/_footer") %>