<%- include ("../../views/_header") %>
    <div class="continer">
        <div class="row mt-5">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <a href="/s611998023/new" class="btn btn-success"> เพิ่ม </a>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>ชื่อ</th>
                            <th>นามสกุล</th>
                            <th>ชื่อเล่น</th>
                            <th>วันเดือนปีเกิด</th>
                            <th>แก้ไข</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data){ %>
                            <%  for(var i=0;i<data.length;i++){ %>
                                <tr>
                                    <td> <%= (i+1) %> </td>
                                    <td> <%= data[i].a611998023 %> </td>
                                    <td> <%= data[i].b611998023 %> </td>
                                    <td> <%= data[i].c611998023 %> </td>
                                    <td> <%= data[i].d611998023.toISOString().split('T')[0]%> </td>
                                    <td> <a href="/s611998023/update/<%= data[i].id%>" class="btn btn-warning"> แก้ไข </a>
                                         <a href="/s611998023/delete/<%= data[i].id%>" class="btn btn-danger"> ลบ </a> </td>
                                </tr>
                            <%  } %>
                       <%  } %>
                    </tbody>
                </table>
            </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ("../../views/_footer") %>