<%- include ("../../views/_header") %>
<div class="container">
  <div class="row mt-5">

    <div class="col-md-12">
      <a href="/tb6023/new" class="btn btn-primary">Add</a>

<table class = "table table-bordered table-hover">
  <thead>
<tr class="table-active">


    <th>No</th>
    <th>Name</th>
    <th>ID</th>
    <th>YesOrNo</th>
    <th>Birthday</th>
    <th>Action</th>
</tr>
  </thead>

<tbody>
  <% if(data){ %>
    <% for(var i=0; i < data.length; i++) {%>
    <tr>
      <td><%= (i+1) %> </td>
    <td><%= data[i].a23 %> </td>
    <td><%= data[i].b23 %> </td>
    <td><%= data[i].c23 %></td>
    <td><%= data[i].d23 %></td>
    <td>
      <a href="/tb6023/delete/<%= data[i].id %>" class="btn btn-danger"> Delete </a>
      <a href="/tb6023/update/<%= data[i].id %>" class="btn btn-info"> Update </a>
    </td>
    </tr>
  <% } %>
    <% } %>
</tbody>
</table>
    </div>

  </div>
  <%- include ("../../views/_footer") %>
