<%- include ("../../views/_header") %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <% if(data) { %>
        <form action="/tb6023/update/<%= data.id%>" method="post">
          <div class="form-group">
            <input type="text" name="a23" value="<%= data.a23 %>" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="b23" value="<%= data.b23 %>" class="form-control">
          </div>
            <div class="form-group">
              <input type="text" name="c23" value="<%= data.c23 %>" class="form-control">
            </div>
            <div class="form-group">
              <input type="date" name="d23" value="<%= new Date(data.d23).toLocaleDateString('th-TH',{
                                      day:'numeric',
                                      month:'long',
                                      year:'numeric'
                                  })%>" class="form-control">
            </div>
            <button type="submit" class="btn-primary">Save</button>
          </form>
          <% } else { %>
            <div class="col-md-7">
        <form action="/tb6023/add" method="post">

          <div class="form-group">
            <input type="text" name="a23" placeholder="ชื่อ" class="form-control">
         </div>
         <div class="form-group">
           <input type="text" name="b23" placeholder="เกรด" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="c23" placeholder="ผ่าน" class="form-control">
       </div>
       <div class="form-group">
         <input type="date" name="d23" placeholder="วันเดือนปี" class="form-control">
      </div>
       <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>

  <%  } %>

      </div>
    </div>
  </div>
</div>
</div>
<%- include ("../../views/_footer") %>
