
<%- include("../../views/_header") %>
         <div class="container">


             <div class="col mt-9">
               <a href="/s611998006/new" class="btn btn-primary"> เพิ่ม </a>
               <table class="table table-bordered table-hover">
                 <thead>

                 <tr>
                   <br></br>
                   <th>No</th>
                   <th>A</th>
                   <th>B</th>
                   <th>C</th>
                   <th>D</th>
                   <th>Action</th>
                   </tr>
                   </thead>
                <tbody>

                  <% if(data){ %>
                    <% for(var i = 0; i < data.length; i++){%>
                    <tr>
                      <td> <%= (i+1) %> </td>
                      <td> <%= data[i].a611998006 %> </td>
                      <td> <%= data[i].b611998006 %> </td>
                      <td> <%= data[i].c611998006 %> </td>
                      <td> <%= new Date(data[i].d611998006).toLocaleDateString()%> </td>

                      <td>
                        <a href="/s611998006/delete/<%= data[i].id %>" class="btn btn-danger"> Delete </a>
                        <a href="/s611998006/update/<%= data[i].id %>" class="btn btn-danger"> Update </a>

                        </td>
                        </tr>
                    <%} %>
                  <%} %>
                  </tbody>
                  </table>

               </div>
              </div>


<%- include("../../views/_footer") %>
