
<%- include("../../views/_header") %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
      <div class="Card">
        <div class="Card-body">

         <%if (data){ %>
          <form action="/s611998006/update/ <%= data.id %>" method="post">
            <div class="form-group">
              <input type="text" name="a611998006" value="<%=data.a611998006%>" class="form-control">
              </div>
              <div class="form-group">
                <input type="text" name="b611998006" value="<%=data.b611998006%>" class="form-control">
                </div>
                <div class="form-group">
                  <input type="text" name="c611998006" value="<%=data.c611998006%>" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="date" name="d611998006" value="<%=data.d611998006.toLocaleDateString()%>" class="form-control">
                    </div>
                  <button type="submit" class="btn btn-primary"> Update data </button>
                  </form>


                  <% }else{ %>
                    <form action="/s611998006/add" method="post">
                   <div class="form-group">
                     <input type="text" name="a611998006" placeholder="varchar" class="form-control">
                     </div>
                     <div class="form-group">
                       <input type="text" name="b611998006" placeholder="float" class="form-control">
                       </div>
                       <div class="form-group">
                         <input type="text" name="c611998006" placeholder="boolean" class="form-control">
                         </div>
                         <div class="form-group">
                           <input type="date" name="d611998006" placeholder="yyyy-mm-dd" class="form-control">
                           </div>

                         <button type="submit" class="btn btn-primary"> Save data </button>
                         </form>
                      <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("../../views/_footer") %>
