<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title> Group1 </title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css" </head>
    <body>
    
        <% JSON.stringify(session) %>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/tb6023"> PLOY <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/arm"> ARM <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/s611998006"> OOO <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/s611998023"> BOY <span class="sr-only">(current)</span></a>
                    </li>
            </div>
            <div class="container mt-2"></div>
            <div class="row"></div>
                <div class="col-md-4"></div>
        </nav>
        <% if(session.success==false){ %>
            <% for(var i=0;i<session.errors.errors.length;i++){ %>
                <div class="alert alert-danger" role="alert">
            <%= session.errors.errors[i]["msg"] %>
                </div>
            <%   } session.success=null; } %>

            <% if(session.success==true){ %>
                    <div class="alert alert-success" role="alert">
            <%= session.topic %>
                    </div>
            <%   } session.success=null;  %>
