
<%- include ('../../views/_header.ejs') %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
        <%  if(data){ %>
          <form  action="/arm/update/<%= data.id %>" method="post">
            <div class="form-group">
              <input type="text" name="a611998012"  value=" <%= data.a611998012 %>" class="form-control" >
            </div>
            <div class="form-group">
              <input type="foat" name="b611998012" value=" <%= data.b611998012 %>" class="navbar navbar-expand-lg navbar-light bg-light" >
            </div>
            <div class="form-group">
              <input type="boolean" name="c611998012" value=" <%= data.c611998012 %>" class="navbar navbar-expand-lg navbar-light bg-light" >
            </div>
            <div class="form-group">
              <input type="date" name="d611998012" value=" <%= data.d611998012 %>" class="navbar navbar-expand-lg navbar-light bg-light" >
            </div>
            <button type="submit"  class="navbar navbar-expand-lg navbar-light bg-light">Save </button>

          </form>
      <%  } else { %>
        <form action = "/arm/add" method="post">
          <div class= "form-group">
            <input type="text" name="a611998012" placeholder = "a611998012" class="from-control">
            </div>
            <div class ="form-group">
              <input type="float" name="b611998012" placeholder = "b611998012" class="from-control">
              </div>
              <div class= "form-group">
                <input type="boolean" name="c611998012" placeholder = "c611998012" class="from-control">
                </div>
                <div class= "form-group">
                  <input type="date" name="d611998012" placeholder = "d611998012" class="from-control">
                  </div>
                <button type="submit" class="btn btn-primary"> save </button>

                </form>
        <%   } %>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ('../../views/_footer.ejs') %>
