
<%- include("../../views/_header") %>
<div class="container">
  <h3><u><center>dbgroup 1</center></u></h3>
  <div class="row mt-5">
    <style>
        body {
            background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20191017/pngtree-blue-abstract-background-design-image_320058.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        image {
            display: block;
            margin-left: auto;
            margin-left: auto;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
            margin-bottom: auto;
            width: 50%;
        }
    </style>
    <div class="col-md-12">
      <a href ="/arm/new" class="btn btn-primary"> Add </a>

        <table class="table table-bordered table-hover">
        <thead>
          <tr>
             <tr class="table-warning">
            <th scope="col">No</th>
            <th scope="col">a611998012</th>
            <th scope="col">b611998012</th>
            <th scope="col">c611998012</th>
            <th scope="col">d611998012</th>
            <th scope="col">Action</th>
          </tr>
        </thead>

        <tbody>
        <%  if(data){ %>
          <%  for(var i= 0; i< data.length;i++){ %>
            <tr>
            <td>   <%= (i+1) %> </td>
            <td> <%= data[i].a611998012 %> </td>
            <td>  <%= data[i].b611998012 %> </td>
            <td>   <%= data[i].c611998012 %> </td>
            <td>   <%= data[i].d611998012.toLocaleDateString() %> </td>
            <td>
               <a href="/arm/delete/<%= data[i].id %>" class="btn btn-danger"> Delete
              <a href="/arm/update/<%= data[i].id %>" class="btn btn-info"> Update
            </td>
          <%  } %>
          <%  } %>
          </tbody>
        </table>
      </div>
    </div>
</div>
  <%- include("../../views/_footer")%>
