<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title> Group1 </title>
    <link rel="stylesheet" href="/bootstrap.min.css" </head>
    <body>

        <% JSON.stringify(session) %>
        <div class="container mt-2"></div>
            <div class="row"></div>
                <div class="col-md-5"></div>

                    <% if(session.success==false){ %>
                    <% for(var i=0;i<session.errors.errors.length;i++){ %>
                        <div class="alert alert-danger" role="alert">
                    <%= session.errors.errors[i]["msg"] %>
                        </div>
                    <%   } session.success=null; } %>

                    <% if(session.success==true){ %>
                            <div class="alert alert-success" role="alert">
                    <%= session.topic %>
                            </div>
                    <%   } session.success=null;  %>

       