<%- include('_header') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
            <h1> List Validator</h1>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5"></div>
            <a href="/validator/new" class="btn btn-success" style="left: ;"> เพิ่ม </a>
    </div>
</div>

<%- include('_footer') %>