<%- include ('_header') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
            <h1> New Validator </h1>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>

            <form action="/validator/add" method="post">
            <div class="form-group">
            Name <input type="text" name="name" class="form-control"></div> 
            <div class="form-group">
            Email <input type="text" name="email" class="form-control"></div> 

            <a href="/validator" class="btn btn-primary"> กลับ </a>
            <button type="submit" class="btn btn-warning"> submit </button>
            </form>
    </div>
</div>

<%- include ('_footer') %>